ClinicDTOs/src/edu/stevens/cs548/clinic/service/dto/patient/cs548.stevens.edu_clinic_schemas_treatment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="http://cs548.stevens.edu/clinic/schemas/treatment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cs548.stevens.edu/clinic/schemas/treatment" elementFormDefault="qualified">
   <xsd:complexType name="patientDTO">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:long"/>
         <xsd:element name="patient-id" type="xsd:long"/>
         <xsd:element name="name" type="xsd:string"/>
         <xsd:element name="birthDate" type="xsd:date"/>
         <xsd:element name="treatments" type="xsd:long" maxOccurs="unbounded" nillable="true"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
